#textbox {
  border: 2px solid #ccc;
  font-family: DMSans, sans-serif;
  font-size: 13pt;
  color: #222;
  line-height: 1.5;
  border-radius: 13px;
  width: 100%;
  margin: 0px 0px;
  padding: 13px;
  resize: none;
  background: none;
}

#textbox:focus {
  outline-offset: 0px !important;
  outline: none !important;
}

#textbox::placeholder {
  color: black;
  opacity: .2;
}

input[type="file"] {
  padding: 10px;
  background-color: 0046ff;
  border: 1px solid gray;
  border-radius: 5px;
  color: white;
}

.extract-button1 {
  margin-top: 21px;
  padding: 13px 34px;
  border: 0px solid #ccc;
  background: #0046ff;
  border-radius: 8px;
  
  color: white;
  font-size: 10pt;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  transition: 0.3s;
}

.extract-button1:hover {
  box-shadow: 0 16px 24px 0 rgba(0,0,0,.1);
}

input[type=submit] {
  font-family: DMSans, sans-serif;
  font-size: 13pt;
}
input[type=submit]:hover{background-color:rgb(68 149 241);}
input[type=submit]:focus{background-color:rgb(86 86 191);}